.box {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    background-color: yellow;
    width: 1360px;
    height: 600px;
}

.item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    background-color: blue;
    margin: 5px;
    box-shadow: 2px 2px 2px 2px grey;
}
